p
    text-align: center;
    background:#CCCCCC;
}

#banner{
    width: 100%;
}

h1{
    background:#CCCCCC;
}

body{
    background:#cccccc;
}

em strong{
    color: red;
}

#missão{
    font-size: 20xp;
}
